.venv/
venv/
env/
__pycache__/
*.pyc

.env
.env.*
*.pem
*.key
id_rsa
id_rsa.pub

*.db
*.sqlite
*.sqlite3

logs/
*.log

node_modules/
dist/
build/

models/
checkpoints/
*.pt
*.pth
*.h5
*.pkl
*.onnx
*.zip
*.7z
*.rar

.vscode/
.idea/
.DS_Store
Thumbs.db

.gradle/
local.properties
*.apk
*.aab